body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;

  
}

main{
  min-height: 75vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
  font-size: 1.8rem;
  padding:1rem 0;
}

h2{
  font-size: 1.4rem;
  padding:0.5rem 0;
}

h3{
  font-size: 1rem;
  padding:0.2rem 0;
}

.trash{
  transition: all 0.1s ease-in-out;
  transform: scale(1.4);
padding:4px 20px;
}
.trash:hover{
  color:rgb(200, 22, 22);
  transform: scale(1.6);

}
a{
  text-decoration: none;
}